.profile
{
  background-color:#f0eeee;
  text-align:center;
  /*border:1px solid black;*/
}
.about{
  
  padding:80px 20px;/*space between box edge and the text.*/
  font-size:17px;
  /*max-width:800px;*/
  margin:0;
  word-spacing:5px;
  
}
.about h1{
  margin-bottom:5px;
  font-weight:20;
  font-size:3rem;

}
.about p{
  margin-top:0;
  line-height:1.2;/*adds space between lines of text*/
  color:#333;
  margin-bottom:20px;/*space after the paragraph*/
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-align:justify;
}
.education{
  background-color:#f0eeee;
  

}
.education h1{
  text-align:center;
  margin-bottom:23px;
}
.education-box{
  background-color:#ede1e1;
  /*align-items:center;*/
  border-radius:15px;
  padding:25px;
  height:110px;
  width:820px;
  
  display:flex;
  /*
  margin:auto;
*/
margin-bottom:40px;
}
.icon-box{
  background-color: #b56060;
  border-radius:5px;
  width:40px;
  height:40px;
  align-items:center;
  justify-content:center;
  margin-right:20px;
  font-size:24px;
  

}
.education-details{
  text-align:left;
}
.education-details h3{
margin:0;
}
/*styling for education box 2*/
.education-box1{
  background-color:#ede1e1;
  border-radius:15px;
  padding:20px;
  height:110px;
  width:820px;
  display:flex;
  margin:0;
  margin-bottom:100px;
}

.icon-box1{
  height:20px;
  width:20px;
  padding:10px;
  background-color:rgb(134, 134, 223);
  margin-right:10px;
  
}

.education-details1 h3{
  margin:0px;
  
}
.education-detail .degree1{
  margin: 1px 0;
}
.education-detail .year1{
  margin:0px;

}

